.sidebar{
    flex:3;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}
.wrapperSidebar {
    padding: 20px;
  }
.sidebarListItem{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebarIcon{
    margin-right: 20px;
}
.sidebarButton{
    width: 150px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-left: 30px;
    font-weight: 500;
    cursor: pointer;
}
.sidebarHr{
    margin: 20px 0;
}
.sidebarFriendItem{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;

}
.sidebarFriendImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}
